<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Iets met calender en untis denk ik ofzo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js"></script>
</head>

<body>
    <div class="container" id="form">
        <fieldset>
            <form method="POST" onsubmit="return hideandshow()">
              <div class="autocomplete">
                <input class="ghost-input" id="myInput" type="text" name="school" placeholder="School">
              </div>
              <input name="server" type="text" class="ghost-input" placeholder="Server" required>
              <input name="untisid" type="number" class="ghost-input" placeholder="Webuntis-id" required>
              <input name="username" type="text" class="ghost-input" placeholder="Gebruikersnaam" required>
              <input name="password" type="password" class="ghost-input" placeholder="Wachtwoord" required>
              <input name="calid" type="text" class="ghost-input" placeholder="Google-calendar-id" required>
              <input type="submit" class="ghost-button">
            </form>
          </fieldset>
    </div>
    <div class="loading" id="loading">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
   
</body>


<script>
    autocomplete(document.getElementById("myInput"), scholen);
    </script>
</html>